In [1]:
import pandas as pd
import numpy as np

In [34]:
X_han = pd.read_csv('5조데이터(2차 한인욱).csv',encoding = 'CP949',index_col=0) ; X_han

,날짜,요일,고객수,평균기온(℃),최저기온(℃),최고기온(℃),강수량(mm),구글검색,네이버 검색량,영업가게
0,2015-10-15,목,1.0,16.9,10.8,24.5,NaN,33.000000,NaN,45.0
1,2015-10-16,금,4.0,16.2,11.3,22.7,NaN,34.000000,NaN,45.0
2,2015-10-17,토,17.0,17.0,11.6,25.0,NaN,35.000000,NaN,45.0
3,2015-10-18,일,7.0,16.5,10.0,24.5,NaN,36.000000,NaN,45.0
4,2015-10-19,월,17.0,17.1,11.2,24.5,NaN,34.714286,NaN,45.0
...,...,...,...,...,...,...,...,...,...,...
1748,2020-09-22,화,60.0,19.1,14.9,24.5,NaN,61.428571,13.00523,31.0
1749,2020-09-23,수,54.0,19.0,14.4,23.6,NaN,67.142857,13.21658,31.0
1750,2020-09-24,목,57.0,20.8,15.7,26.4,NaN,72.857143,13.80988,31.0
1751,2020-09-25,금,77.0,20.0,14.8,25.9,NaN,78.571429,17.88591,31.0
1752,2020-09-26,토,11.0,19.4,15.0,25.5,NaN,84.285714,19.52271,31.0

In [35]:
X_1 = pd.read_csv('5조데이터(1차통합).csv',encoding='CP949') ; X_1

,날짜,요일,고객수,평균기온...,최저기온...,최고기온...,강수량.mm.,구글.검색량,네이버.검색량,확진자,사망자,완치자,지하철_승하차인원,공휴일,복날,방학여부,도마1동인구,도마2동인구,변동인구
0,2015-10-15,목,1,16.9,10.8,24.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,17803.0,20976.0,18050.0
1,2015-10-16,금,4,16.2,11.3,22.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,17801.0,20974.0,18049.0
2,2015-10-17,토,17,17.0,11.6,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,17799.0,20971.0,18048.0
3,2015-10-18,일,7,16.5,10.0,24.5,NaN,36.0,NaN,NaN,NaN,NaN,NaN,0,0,0,17797.0,20969.0,18047.0
4,2015-10-19,월,17,17.1,11.2,24.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,17795.0,20966.0,18046.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1748,2020-09-22,화,60,19.1,14.9,24.5,NaN,NaN,13.00523,2.0,0.0,0.0,158815.0,0,0,0,NaN,NaN,NaN
1749,2020-09-23,수,54,NaN,NaN,NaN,NaN,NaN,13.21658,0.0,0.0,7.0,161199.0,0,0,0,NaN,NaN,NaN
1750,2020-09-24,목,57,NaN,NaN,NaN,NaN,NaN,13.80988,0.0,0.0,4.0,165875.0,0,0,0,NaN,NaN,NaN
1751,2020-09-25,금,77,NaN,NaN,NaN,NaN,NaN,17.88591,1.0,0.0,7.0,176472.0,0,0,0,NaN,NaN,NaN
1752,2020-09-26,토,11,NaN,NaN,NaN,NaN,NaN,19.52271,0.0,0.0,1.0,118728.0,0,0,0,NaN,NaN,NaN

In [36]:
X_1['영업가계'] = X_han['영업가게']

In [42]:
X_han.columns = ['날짜', '요일', '고객수', '평균기온', '최저기온', '최고기온', '강수량mm', '구글검색량','네이버검색량', '영업가계']

In [43]:
X_1.columns = ['날짜', '요일', '고객수', '평균기온', '최저기온', '최고기온', '강수량mm', '구글검색량','네이버검색량', '확진자', '사망자', '완치자', '지하철승하차인원', '공휴일', '복날', '방학여부',
       '도마1동인구', '도마2동인구', '변동인구', '영업가계']

In [47]:
X_1[['날짜', '요일', '고객수', '평균기온', '최저기온', '최고기온', '강수량mm', '구글검색량','네이버검색량']] =  X_han[['날짜', '요일', '고객수', '평균기온', '최저기온', '최고기온', '강수량mm', '구글검색량','네이버검색량']]

In [56]:
X_youtube = pd.read_csv('신제품유튜브조회수.csv',encoding = 'CP949')

In [57]:
X = pd.merge(X_1,X_youtube,on='날짜', how='outer')

In [58]:
X

,날짜,요일,고객수,평균기온,최저기온,최고기온,강수량mm,구글검색량,네이버검색량,확진자,...,완치자,지하철승하차인원,공휴일,복날,방학여부,도마1동인구,도마2동인구,변동인구,영업가계,유튜브조회수
0,2015-10-15,목,1.0,16.9,10.8,24.5,NaN,33.000000,NaN,NaN,...,NaN,NaN,0,0,0,17803.0,20976.0,18050.0,45.0,NaN
1,2015-10-16,금,4.0,16.2,11.3,22.7,NaN,34.000000,NaN,NaN,...,NaN,NaN,0,0,0,17801.0,20974.0,18049.0,45.0,NaN
2,2015-10-17,토,17.0,17.0,11.6,25.0,NaN,35.000000,NaN,NaN,...,NaN,NaN,0,0,0,17799.0,20971.0,18048.0,45.0,NaN
3,2015-10-18,일,7.0,16.5,10.0,24.5,NaN,36.000000,NaN,NaN,...,NaN,NaN,0,0,0,17797.0,20969.0,18047.0,45.0,NaN
4,2015-10-19,월,17.0,17.1,11.2,24.5,NaN,34.714286,NaN,NaN,...,NaN,NaN,0,0,0,17795.0,20966.0,18046.0,45.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1748,2020-09-22,화,60.0,19.1,14.9,24.5,NaN,61.428571,13.00523,2.0,...,0.0,158815.0,0,0,0,NaN,NaN,NaN,31.0,NaN
1749,2020-09-23,수,54.0,19.0,14.4,23.6,NaN,67.142857,13.21658,0.0,...,7.0,161199.0,0,0,0,NaN,NaN,NaN,31.0,NaN
1750,2020-09-24,목,57.0,20.8,15.7,26.4,NaN,72.857143,13.80988,0.0,...,4.0,165875.0,0,0,0,NaN,NaN,NaN,31.0,NaN
1751,2020-09-25,금,77.0,20.0,14.8,25.9,NaN,78.571429,17.88591,1.0,...,7.0,176472.0,0,0,0,NaN,NaN,NaN,31.0,NaN
1752,2020-09-26,토,11.0,19.4,15.0,25.5,NaN,84.285714,19.52271,0.0,...,1.0,118728.0,0,0,0,NaN,NaN,NaN,31.0,NaN

In [59]:
X.to_csv('5조데이터(2차통합).csv',encoding='CP949')