In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
X_sales = pd.read_csv('./BHC 판매 건수.csv',encoding='CP949')

In [4]:
# 이렇게 sales 의 날짜 index 를 추출하여, 
# 나중에 inner merge 를 실행하므로서 치킨판매량이 있는날만 살리게 된다.
X_index = X_sales[['날짜']]

In [5]:
X_temp = pd.read_csv('./대전 2015-2020 기온.csv',encoding='CP949')

In [6]:
X_rain = pd.read_csv('./대전 2015-2020 강수량.csv',encoding='CP949')

In [7]:
X_google = pd.read_csv('./구글트랜드(imputed).csv',encoding='CP949')

In [8]:
X_naver = pd.read_csv('./네이버 데이터랩.csv',encoding='CP949')

In [9]:
X_chicken = pd.read_csv('./치킨집 운영현황.csv',encoding='CP949')

In [10]:
# outer 로 설정해, 일단 날짜만 일치하면 다 넣음
X = pd.merge(X_sales, X_temp, on='날짜', how='outer')
X = pd.merge(X,X_rain,on='날짜', how='outer')
X = pd.merge(X,X_google,on='날짜', how='outer')
X = pd.merge(X,X_naver,on='날짜', how='outer')
X = pd.merge(X,X_chicken,on='날짜', how='outer')
X

,날짜,요일,고객수,지점_x,평균기온(℃),최저기온(℃),최고기온(℃),지점_y,강수량(mm),Unnamed: 0_x,구글검색,네이버 검색량,Unnamed: 0_y,영업가게
0,2015-10-15,목,1.0,133.0,16.9,10.8,24.5,133.0,NaN,4.0,33.000000,NaN,0.0,45.0
1,2015-10-16,금,4.0,133.0,16.2,11.3,22.7,133.0,NaN,5.0,34.000000,NaN,1.0,45.0
2,2015-10-17,토,17.0,133.0,17.0,11.6,25.0,133.0,NaN,6.0,35.000000,NaN,2.0,45.0
3,2015-10-18,일,7.0,133.0,16.5,10.0,24.5,133.0,NaN,7.0,36.000000,NaN,3.0,45.0
4,2015-10-19,월,17.0,133.0,17.1,11.2,24.5,133.0,NaN,8.0,34.714286,NaN,4.0,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1823,2020-10-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.79284,NaN,NaN
1824,2020-10-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.72080,NaN,NaN
1825,2020-10-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.46715,NaN,NaN
1826,2020-10-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.00977,NaN,NaN
1827,2020-10-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,NaN,NaN

In [11]:
X.drop(labels=['지점_x','지점_y','Unnamed: 0_x','Unnamed: 0_y'],axis=1,inplace=True)

In [12]:
X = pd.merge(X, X_index, on='날짜') ; X

,날짜,요일,고객수,평균기온(℃),최저기온(℃),최고기온(℃),강수량(mm),구글검색,네이버 검색량,영업가게
0,2015-10-15,목,1.0,16.9,10.8,24.5,NaN,33.000000,NaN,45.0
1,2015-10-16,금,4.0,16.2,11.3,22.7,NaN,34.000000,NaN,45.0
2,2015-10-17,토,17.0,17.0,11.6,25.0,NaN,35.000000,NaN,45.0
3,2015-10-18,일,7.0,16.5,10.0,24.5,NaN,36.000000,NaN,45.0
4,2015-10-19,월,17.0,17.1,11.2,24.5,NaN,34.714286,NaN,45.0
...,...,...,...,...,...,...,...,...,...,...
1748,2020-09-22,화,60.0,19.1,14.9,24.5,NaN,61.428571,13.00523,31.0
1749,2020-09-23,수,54.0,19.0,14.4,23.6,NaN,67.142857,13.21658,31.0
1750,2020-09-24,목,57.0,20.8,15.7,26.4,NaN,72.857143,13.80988,31.0
1751,2020-09-25,금,77.0,20.0,14.8,25.9,NaN,78.571429,17.88591,31.0
1752,2020-09-26,토,11.0,19.4,15.0,25.5,NaN,84.285714,19.52271,31.0

In [13]:
X.to_csv('5조데이터(한인욱).csv',encoding='CP949')